body{
    margin: 0;
    background-color: teal;

}
#main{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 20px;
    gap: 20px;
}
.textarea{
    height: 200px;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 16px; 
    background-color: teal;
}